@media all and (min-width:767px) and (max-width:1023px) {
    /* 타블렛 */


    #container{
        width: 100%;
    }

    .movie_detail{
        width: 90%;
        
        margin: 0 auto;
    }
    .movie_detail>.detail_top_wrap{
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
/* 
    .inner2{
        display: flex;
    } */
    
    .trailer{
    justify-content: center;
    }

    .banner_wrap{
        width: 768px;
    }
    
    .banner_wrap img{
        display:block;
        width:100%;
        height:auto;
    }

    }
    


@media screen and (min-width:375px) and (max-width:767px) {
    /* 모바일 */


    .movie_detail{
        width: 100vw;
        margin-left: calc(-50vw + 50%);
}



    /* .movie_detail img{
        display:block;
        width:100%;
        height:auto;
    }
    .tit_info div ul{
        display:block;
        width:100%;
        height:auto;
    } */



.movie_detail>.detail_top_wrap{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
#container{
    /* margin-top: 10%; */
    width: 100%;
    
}

.detail_top_wrap{
    padding-left: 10%;
}

.poster_info{
    margin-left: 3%;
}




.inner2{
    text-align: center;
}

.trailer{
justify-content: space-between;
}
.stillcut{
    width: 100%;
}

.owl-stage{
    /* padding-left: 9%; */
}
.banner_wrap{
	width:400px;
}

.banner_wrap img{
	display:block;
	width:100%;
	height:auto;
}
}



/* 미디어쿼리 분리----------------------------------------------- */



#container{
    margin-top: 90px;
}

img{
    border: none;
    vertical-align: top;
}

em{
    font-style: normal;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration-line: none;
}


.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.gr_all{
    color: #229c56;
}

.gr_12 {
    color: #FFA200;
}

.gr_15 {
    color: #dd7430;
}

.owl-item>a{
    color: #000;
}

/* --------------------------------------------------------- */

.movie_detail{
    width: 90%;
    margin: 0 auto;
}


/* 이미지와 띄우기 해결 */
#container .detail_top_wrap {
    min-height: 460px;
    padding-left: 450px;
}


.detail_top_wrap {
    position: relative;
    min-height: 240px;
    padding-left: 300px;
    margin-bottom: 15px;
    /* margin-left: 2%; */
    /* margin-right: 11.25rem; */
    /* 원래 마진 좌우로 조절 */
    
}

.detail_top_wrap .poster_info {
    position: absolute;
    top: -66px;
    left: 0;
    width: 205px;
    height: 305px;
    z-index: 1
}

/* .detail_top_wrap .poster_info {
    top: -30px;
    width: 316px;
    height: 468px;
} */


.poster_info img{
    border-radius: 20px;
}

/* li 속성 */
.mov_info1 li {
    display: inline-block;
    position: relative;
    padding-left: 12px;
    margin-left: 12px;
    font-size: 18px
}
.mov_info1 li:first-child:before {
    width: 0
}

.mov_info1 li:before {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background: #000;
    opacity: .7;
    position: absolute;
    top: 4px;
    left: 0;
    /* 전체관람가 줄 간격 */
}


.mov_info1 li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.mov_info2{
    margin-top: 20px;
}

.mov_info2 li {
    display: inline-block;
    margin-right: 8px;
}

/* 버튼 */


.icon_wishheart {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 22px;
    height: 18px;
    background: url("./detail_img/heart_bdr_black_off.svg") no-repeat 0 0;
    border: none;
    font: 0 auto;
}
.btn_icon_wish{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 88px;
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #fff;
    font-size: 19px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}


.icon_share{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./detail_img/btn_icon_share.svg) 0 0 no-repeat;
}

.btn_icon_share{
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    font: 0 auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
}

.btn_icon_share:hover {
    background-color:rgba(255,182,193,0.7);
    transition: 0.7s;
}
.btn_icon_wish:hover{
    background-color:rgba(255,182,193,0.7);
    transition: 0.7s;
}


/* 영화소개 txtarea box */
.txtarea_box{
    margin: 30px 0 27px;
    margin-bottom: 10%;
}
.txtarea_box .txtarea {
    overflow-y: scroll;
    height: 9.375rem;
    line-height: 1.6;
    font-size: 18px;
    border: 0;
    padding: 0 20px 0 0;
}

.txtarea {
    padding: 21px 32px;
    overflow-y: scroll;
    height: 133px;
    line-height: 1.6;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* 예매하기 버튼 */
.btn_col{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ff243e;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #ff243e;
    border-radius: 60px;
    line-height: 58px;
    font-size: 24px;

    width: 323px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
}

.tab_con{
    position: relative;
    width: auto;
    height: auto;
    /* overflow: inherit; */
}

.inner2 .mov_info .detail_info2 li:before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #7c7c7c;
    position: absolute;
    top: 15px;
    left: 0;
}
.inner2 .mov_info .detail_info2 em {
    padding-right: 10px;
    color: #7c7c7c;
}

.mov_info{
    overflow: hidden;
    margin: 0px;
    padding: 50px 0;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 15%;
    text-align: justify;
    /* justify-content: center ; */
}

.tit_info {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: -2px;
}


.tit_info strong {
    font-size: 26px;
}


.tit_info.type1{
    font-size: 26px;
    z-index: 2;
}
.tit_info.type1 em {
    font-family: "Roboto";
    font-size: 17px;
    opacity: .8;
}


.innerfull{
    width: 100%;
    margin: 0 auto;
}
.innerfull.gray{
    background: #f8f8f8;
}

.inner2{
width: 90%;
margin: 0 auto;
}


.innerfull .mov_info .detail_info2 li:before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #7c7c7c;
    position: absolute;
    top: 15px;
    left: 0;
}

.innerfull .mov_info .detail_info2 li:first-child {
    margin-top: 20px;
}

.innerfull .mov_info .detail_info2 em {
    padding-right: 10px;
    color: #7c7c7c;
}




.owl-stage-outer {
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 1;

    
    overflow: hidden;
}

.owl-item .strong {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.owl-stage-outer .owl-item {
    position: relative;
    float: left;
    display: block;
    min-height: 1px;

}
.owl-item{
    margin-top: 3%;
}



.owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.gridlist {
    padding: 0 80px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto;
}

.gridlist img {width: 100%;} /* 이미지 크기가 부모 공간에 fit 되기 위함 */


.banner_wrap{
    width: 100%;
    padding-top: 70px;
    text-align: center;
}


.banner01{
    max-width: 100%;
    height: auto;
}
.banner02{
    border-top: rgb(0, 108, 255);
}

