h1{
  text-align: center;
}
#userInput {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#userInput input {
  width:300px;
  height:30px;      
}
button {    
background-color: lightblue;
padding: 10px;
border: 0px;
}
#attendant {
  display: flex;
  justify-content: center;
  margin-top:20px;
}
#outputContainer{
  display: flex;
  justify-content: center;
}
table {
  border-collapse:collapse;
}
th, td {
  padding:20px;
  font-size: 20px;        
}