*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  padding: 5px;
  width: 100%;
  height: 70px;
  /* border:none; */
}
td{
  width: 10%;
  font-size: 15px;
  /* border: 1px solid; */
}
#day1 > p{
  text-align: center;
  /* font-size: 4vw; */
}
.day_clicked{
  /* border:1px solid; */
  font-weight: bold;
  /* border-radius: 10px; */
}
#day1{
  font-size: 8vw;
}
#day1_3{
  font-size: 4vw;
}
