*{
  margin: 0;
  /* margin-top:10px; */
  padding: 0;
  box-sizing: border-box;
  font-size: 4vw;
}

li{
  list-style-type: none;
  border-bottom:1px solid;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: relative;
}
#y_all{
  width: 10vw;
  vertical-align: middle;
  margin-left: 7%;
}
#y_12{
  width: 10vw;
  vertical-align: middle;
  /* margin-top: 3.5vh; */
  /* line-height: 50px; */
  margin-left: 7%;
}
#y_15{
  width: 10vw;
  vertical-align: middle;
  margin-left: 7%;
}
#y_18{
  width: 10vw;
  vertical-align: middle;
  margin-left: 7%;
}
li > span{
  font-weight: bold;
  /* font-size: 20px;  */
  margin-left: 3%;
  position: absolute;
  line-height: 50px;
}
::-webkit-scrollbar {
  display: none;   /* 크롬, 사파리, 오페라, 엣지 */
}
.clicked{
   background-color: #eee;

  /* border:3px solid black; */
  /* opacity: 0.4; */
}






