* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  margin: 20px;
  font-size: 2em;
}

#container {
  position: relative;
  max-width: 100%;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
  margin: 0 auto; /* 가로 중앙 정렬을 위해 추가 */
}
#container img {
  width: 800px;
  height: 500px;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 380px) {
  #container {
    width: 100%;
    height: auto;
  }

  #container img {
    width: 100%;
    height: auto;
  }
}
