* {
  margin: 0;
}

h1 {
  text-align: center;
}

.topmenu {
  background-color: lightcoral;
  padding: 10px;
}

.personal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

button {
  flex-direction: row;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: pink;
  padding: 15px;
  border: none;
  outline: none;
  color: black;
  font-size: large;
  transition: transform 0.3s ease-in-out;
}

button.active {
  transform: translateX(120px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightsalmon;
  height: 100%;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

nav.active {
  transform: translateX(0);
  background-color: lightsalmon;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav ul li {
  padding: 1em 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 380px) {
  /* 화면 너비가 375px 이하일 때 적용되는 스타일 */
  
  button {
    display: none; /* 퀵 메뉴 숨김 */
  }
}
