*{
  margin: 0;
}

h1{
  text-align: center;
}

.topmenu{
  background-color: goldenrod;
  padding: 10px;
}

.personal{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

